<% title ["成都保险咨询网，投保好帮手！"].join(',') %>
<% meta_keywords ["保险,保险网,买保险,网上买保险,在线投保,成都保险咨询网,成都保险,商业保险,人寿保险"].join(',') %>
<% meta_description ["成都保险咨询网是成都地区最专业的保险网，设有人寿保险,少儿保险,医疗保险,平安人寿,平安车险，保险投保案例,保险咨询问答,保险博客等栏目，为您提供保险产品的咨询购买理赔保全一站式服务！是您投保的好帮手！咨询QQ：29928649"].join(',') %>

<%= render :partial => "layouts/slider_img" %>


<!-- start pinpai -->
<div class="index_main_list">
  <div class="index_main_list_content">
    <table width="100%">
     <tr><td width="320px" valign="top"><h3 class="title">成都保险信息</h3>
         <ul>
           <% NewsItem.recent(10,19).each_with_index do |item, index| %>
            <li><%=link_to item.title, news_item_path(item), :target => "_blank" %><%=show_hot_gif %></li>
           <% end %>
        </ul>
     </td><td valign="top"><h3 class="title">保险咨询问答</h3>
       <ul>
       <% NewsItem.recent(10, 5).each_with_index do |item, index| %>
        <li><%=link_to item.title, news_item_path(item), :target => "_blank" %><%=show_hot_gif %></li>
       <% end %> 
  </ul>
     </td></tr>
    </table>
  </div>
</div>
<!-- end pinpai -->

<%= render :partial => "layouts/slider_case" %>

<!-- start pinpai -->

<!-- end pinpai -->

<!-- start liucheng -->
<div id='content'><div id='basic-modal'>
  <div style="padding: 6px;"><a href="#" class='basic'><img src="/assets/liucheng.jpg" /></a></div>
</div></div>
<!-- end liucheng -->

<!-- begin product list -->
<%= render :partial => "layouts/news_cate_list" %>
<!-- end product list -->

<!-- begin product list -->
<%# render :partial => "layouts/product_list" %>
<!-- end product list -->

