<% title [@news_item.title, "成都保险咨询网，投保好帮手！"].join(',') %>
<% meta_keywords [@news_item.title, "保险,保险网,买保险,网上买保险,在线投保,成都保险咨询网,成都保险,商业保险,人寿保险"].join(',') %>
<% meta_description [@news_item.title, "成都保险咨询网是成都地区最专业的保险网，设有人寿保险,少儿保险,医疗保险,平安人寿,平安车险，保险投保案例,保险咨询问答,保险博客等栏目，为您提供保险产品的咨询购买理赔保全一站式服务！是您投保的好帮手！咨询QQ：29928649"].join('-') %>

<div class='wenba_detail_nav'><a href="/">首页</a> > <%= link_to @news_item.news_cate.name, news_cate_path(@news_item.news_cate)%></div>

<div class='wenba_detail'>
  <div class='wenba_question'><div class='wenba_question_content'>
      <h2><%= @news_item.title %></h2>
        <% unless @news_item.summary.blank? %>
          <div class="wenba_question_detail">
            <%= simple_format @news_item.summary %>
          </div>
        <% end %>
      </div></div> 

  <div class='wenba_answer_list'><div class='wenba_answer_list_content'>
    <% if @news_item.summary.blank? %>
      <%= simple_format @news_item.body %>
    <% else %>
      <%= simple_format @news_item.body.gsub(/\n+/, '') unless @news_item.body.blank? %>
    <% end %>
  </div></div>
</div> 

<br/>
<%= render :partial => "layouts/bshare" %>
<div id='content' style="float: right; margin:40px 40px 0 0;"><div id='basic-modal'>
   <span class = 'phone'><a href="#" class='basic'><span style="color:red;">有问题? 点击：</span><img src="/assets/online_call.gif"/></a></span>
</div></div>
<!--相关新闻-->
<hr/>
<div class="related">
 <h3>相关信息</h3>
 <ul>
   <% NewsItem.recent_related(@news_item.id).each do |item|%>
     <li><%= link_to item.title, news_item_path(item.id)%></li>
   <% end %>
 </ul>
</div>
</div>