<% title [@news_item.title, "成都保险咨询网，投保好帮手！"].join(',') %>
<% meta_keywords [@news_item.title, @news_item.meta_keywords, "保险,保险网,买保险,网上买保险,在线投保,成都保险咨询网,成都保险,商业保险,人寿保险"].join(',') %>
<% meta_description [@news_item.title, @news_item.meta_description, "成都保险咨询网是成都地区最专业的保险网，设有人寿保险,少儿保险,医疗保险,平安人寿,平安车险，保险投保案例,保险咨询问答,保险博客等栏目！"].join('-') %>

<div class='wenba_detail_nav'><a href="/">首页</a> > <%= link_to @news_item.news_cate.name, news_cate_path(@news_item.news_cate)%></div>

<div class='wenba_detail'>
  <div class='wenba_question'><div class='wenba_question_content'>
      <h2><%= @news_item.title %></h2>
        <span>
          &nbsp;更新时间：<%= @news_item.updated_at.strftime "%Y-%m-%d" %> &nbsp;&nbsp;
          <%=link_to "来源引用", @news_item.original_url, :target => '_blank' %>
        </span>
        <% unless @news_item.summary.blank? %>
          <div class="wenba_question_detail">
            <%= simple_format @news_item.summary %>
          </div>
        <% end %>
      </div></div> 

  <div class='wenba_answer_list'><div class='wenba_answer_list_content'>
    <% unless @news_item.image_path.blank? %>
      <%= image_tag @news_item.image_path, :title => @news_item.title, :width => 700 %>
    <% end %>
    <% if @news_item.is_foraged == 'n' %>
      <%= @news_item.body.html_safe %>
    <% else %>
      <%= simple_format @news_item.body.gsub(/\n+/, '') unless @news_item.body.blank? %>
    <% end %>
  </div></div>
</div> 

<br/>
<%= render :partial => "layouts/bshare" %>
<div id='content' style="float: right; margin:40px 40px 0 0;"><div id='basic-modal'>
   <span class = 'phone'><a href="#" class='basic'><span style="color:red;">有问题? 点击：</span><img src="/assets/online_call.gif"/></a></span>
</div></div>

</div>