<!DOCTYPE html> 
<html> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="ZH-cn" />
  <meta name="robots" content="all" />
  <meta name="author" content="baoxian028.com" />
  <title><%= yield(:title)%> </title>
  <meta name="keywords" content="<%= yield(:meta_keywords)%>" />
  <meta name="description" content="<%= yield(:meta_description)%>" />
  <meta name="baidu-tc-verification" content="5a77e927775101d376dc8b9a6660a78d" />
  
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <!--[if IE]>
    <link href="/ie_style.css" rel="stylesheet" type="text/css" />
  <![endif]-->
  <%= csrf_meta_tag unless @page_caching %>
</head> 
 
<body> 
<div class="page_margins">
  <div class="page" style="background: #fff;">
    <%= render :partial => "layouts/header" %>
    <!-- begin: main content area #main -->
    <div id="main">
      <!-- begin: #col1 - first float column -->
      <div id="col1" role="complementary">
      <div id="col1_content" class="clearfix">
        
        <%= yield %>
      </div>
      </div>
      <!-- end: #col1 -->
      <!-- begin: #col3 static column -->
      <div id="col3" role="main">
      <div id="col3_content" class="clearfix">
        <span style="padding:10px;">成都保险咨询网欢迎您！</span>
        <% if @is_ask %>
          <%= render :partial => "layouts/side_ask" %>
          <%= render :partial => "layouts/side_general" %>
        <% else %>
          <%= render :partial => "layouts/scroll_news" %>
          <%= render :partial => "layouts/side_general" %>

          <%if params[:action] == 'index' %>
            <br/>
            <div style="border:1px solid #ddd; padding:4px; margin:10px 0;">
              <h2>热门标签</h2>
              <hr/>
              <% Tag.recent(10).each do |tag| %>
                <span class="tag"><%=link_to tag.name, tag, :title => tag.name, :class => "rand#{weight(tag.weight, 12)}", :target => "_blank"%></span>
              <% end %>
            </div>
          <% end %>
        <% end %>
      </div>
      <div id="ie_clearing">&nbsp;</div>
      <!-- End: IE Column Clearing -->
      </div><!-- end: #col3 -->
    </div><!-- end: #main -->

     <%= render :partial => "layouts/pop_form" %>
     <!-- begin: #footer -->
     <%= render :partial => "layouts/footer" %>
    <!-- end: #footer -->
  </div><!-- end: .page -->
</div><!-- end: .page_margins -->

<!--display QQ list and google counter and beian info-->
<center><script src="/foot.js" type="text/javascript"></script></center>
</body>
</html>